.TodoList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  /* width: 1000px; */
}

.TodoList__item {
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  border: 1px solid blue;
  border-radius: 4px;
  /* text-align: center; */
  padding: 15px;
  background: rgba(235, 242, 222, 0.482);
}
